# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
.eggs/

# Django
*.db
staticfiles/
media/
.env

# Node
node_modules/
dist/
.cache/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
